header {
  background-color: #5dba46;
}

.i-yt::before {
  content: "\f162";
}

.i-fb::before {
  content: "\f180";
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 1250px;
}

.block__header {
  color: #fff;
  height: 40px;
  max-height: 40px;
}

.block__search {
  background-color: #fff;
  color: #333;
  margin: auto;
  height: 95px;
  max-height: 95px;
}

.block__menu {
  border-top: 2px solid #e9e9e9;
  background-color: #fff;
  color: #333;
  margin: auto;
  height: 52px;
  max-height: 52px;
}

.container > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: inherit;
}

.container .block__header--left {
  justify-content: flex-start;
}

.container .block__header--center {
  flex: 1 1 0%;
}

.container .block__header--right {
  justify-content: flex-end;
}

.container .block__header--right a {
  margin: 7px;
}

.container > .block__header--hidden__lg {
  display: none;
}

.container > div {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  max-height: inherit;
}

.block__search .container > div {
  height: 95px;
}

.block__search .container .block__form {
  background-color: #fff;
  color: #333;
  padding-right: 10px;
  padding-left: 10px;
  flex: 1 1 auto;
}

.block__search .container .block__form form {
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

// .block__search .container .block__form form:hover {
//     border: 2px solid #5dba46;
// }

.block__search .container .block__form form input.input__searchText {
  border: none;
  height: 46px;
  font-size: 15px;
  width: calc(100% - 50px);
}

.block__search .container .block__form form input.input__searchText:focus {
  border: none;
  outline: none;
}

.block__search .container .block__form form button.btn__searchSubmit {
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  padding: 0;
  width: 50px;
  border: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--wd-form-color);
  font-weight: 400;
  font-size: 0;
  cursor: pointer;
}

.block__search .container .block__form form button.btn__searchSubmit:after {
  font-size: 20px;
  transition: opacity 0.2s ease;
  content: "\f130";
  font-family: "Woodmart";
}

.block__search
  .container
  .block__form
  form
  button.btn__searchSubmit:hover:after {
  color: #777;
}

.block__search .container .link__login {
  color: #333;
}

.block__search .container .link__login:hover {
  color: #777;
}

.block__search .container .link__cart {
  position: relative;
  color: #333;
}

.block__search .container .link__cart {
  display: flex;
  position: relative;
}

.block__search .container .link__cart .span__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

.block__search .container .link__cart .span__icon::before {
  font-family: "Woodmart";
  font-size: 20px;
  content: "\f126";
}

.block__search .container .link__cart .span__count {
  position: absolute;
  top: -5px;
  right: -9px;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5dba46;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 9px;
  line-height: 15px;
}

.block__search .container .link__cart .span__total {
  margin-left: 12px;
  font-size: 13px;
  justify-content: baseline;
}

.block__menu .container .block__menu--detail {
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  height: calc(100% + 2px);
  background-color: #5dba46;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.block__menu .container .block__menu--detail .span__menu--detail {
  position: relative;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 100%;
  min-width: 270px;
  max-width: 320px;
  text-transform: uppercase;
}

.block__menu .container .block__menu--detail .span__menu--detail::after {
  margin-left: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  content: "\f129";
  font-family: "Woodmart";
}

.block__menu .container .block__menu--detail .span__menu--detail .span__icon {
  flex: 0 0 auto;
  margin-right: 10px;
}

.block__menu
  .container
  .block__menu--detail
  .span__menu--detail
  .span__icon::after {
  content: "\f15a";
}

.block__menu
  .container
  .block__menu--detail
  .span__menu--detail
  .span__text:hover {
  color: #e4e4e4;
  cursor: pointer;
}

.block__menu .container .block__menu--detail:hover > .div__menu--dropdown,
.block__menu
  .container
  .block__menu--detail.block__menu--active
  > .div__menu--dropdown {
  visibility: visible;
  opacity: 1;
  transform: none;
  pointer-events: visible;
  pointer-events: unset;
}

.block__menu .container .block__menu--detail .div__menu--dropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 380;
  margin: 0;
  background-color: #fff;
  background-position: bottom right;
  background-clip: border-box;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  text-align: left;
  border-radius: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(15px) translateZ(0);
  pointer-events: none;
}

.block__menu .container .block__menu--detail .div__menu--dropdown > ul {
  border: 1px solid rgb(0 0 0 / 8%);
  position: relative;
  display: flex;
  margin: 0;
  border-radius: 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  padding: 0;
}

.block__menu .container .block__menu--detail .div__menu--dropdown > ul > li {
  flex: 1 1 100%;
  max-width: 100%;
  width: 100%;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li:not(:last-child) {
  border-bottom: 1px solid rgb(0 0 0 / 8%);
}

.block__menu .container .block__menu--detail .div__menu--dropdown > ul > li a {
  padding: 12px 18px;
  color: #333;
  text-transform: unset;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  transition: all 0.25s ease;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li
  a.a__category--expendable:after {
  margin-left: auto;
  color: rgba(82, 82, 82, 0.45);
  font-weight: 600;
  font-size: 60%;
  font-family: "Woodmart";
  content: "\f113";
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li:hover
  > a {
  background-color: #f7f7f7;
  color: #555;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li
  a
  img {
  display: inline-block;
  margin-right: 7px;
  max-height: 18px;
  width: auto !important;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li
  a
  span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  color: #333;
  text-transform: uppercase;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li
  .div__menu--child {
  position: absolute;
  min-height: 100%;
  top: 0;
  left: 100%;
  z-index: 380;
  margin: 15px 0 0;
  width: 835px;
  z-index: 380;
  background-color: #fff;
  background-position: bottom right;
  background-clip: border-box;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  text-align: left;
  border-radius: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(15px) translateZ(0);
  pointer-events: none;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li:hover
  .div__menu--child {
  visibility: visible;
  opacity: 1;
  transform: none;
  pointer-events: visible;
  pointer-events: unset;
  top: 0;
  left: calc(100% + 1px);
  margin: 0;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li
  .div__menu--child
  > ul {
  display: flex;
  gap: 0 30px;
  padding: 10px 30px 0;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li
  .div__menu--child
  > ul
  > li {
  margin-bottom: 7px;
  flex: 0 0 auto;
}

.block__menu
  .container
  .block__menu--detail
  .div__menu--dropdown
  > ul
  > li
  .div__menu--child
  > ul
  li:hover
  a
  > span.span__category--name {
  color: #5dba46;
}

.block__menu .container .block__nav__link a {
  color: #333;
}

.block__menu .container .block__nav__link a.nav__link:hover {
  color: #5dba46;
}

.block__menu .container .block__nav__link ul {
  gap: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  list-style: none;
  text-transform: uppercase;
}

.block__menu .container .block__nav__link ul li {
  font-size: 14px;
}

.block__menu .container .block__nav__link ul li .nav__link--haschild::after {
  margin-left: 4px;
  font-weight: 400;
  font-style: normal;
  font-size: 70%;
  font-family: "Woodmart";
  content: "\f129";
}

@media screen and (max-width: 1000px) {
  .block__header .container > .block__header--visible__lg {
    display: none;
  }

  .block__header .container .block__header--center.block__header--mobile {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin-right: -10px;
    margin-left: -10px;
  }
  .block__header .container .block__header--center a {
    margin: 7px;
  }
}

footer {
  background-color: #fff;
}

.block__footer {
  display: block;
}

.block__footer .container {
  display: block;
}

.block__footer .container > aside a {
  color: #333;
}

.block__footer .container > aside {
  display: block;
}

.block__footer .container .fa {
  font-family: "Woodmart";
  font-style: normal;
  width: 15px;
  text-align: center;
  margin-right: 4px;
  color: #676767;
}

.block__footer .container .aside__footer {
  width: 100%;
  min-height: 100px;
  color: #777;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 14px;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0 25px;
}

// .block__footer .container .aside__footer > div {
// }

.block__footer .container .aside__footer .p__detail > span {
  display: block;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.block__footer .container .aside__footer .p__detail--worktime {
  display: block;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.block__footer .container .aside__footer .p__detail--worktime h5 {
  text-transform: uppercase;
  margin: 7px 0;
  font-size: 1em;
  color: #333;
}

.block__footer .container .aside__footer .p__detail--worktime span {
  line-height: 1.4em;
}

.block__footer .container .aside__copyright {
  font-size: 11px;
}

.block__footer .container .aside__copyright .block__footer--left {
  flex: 1 0 50%;
  padding-right: 15px;
  padding-left: 0;
  max-width: 50%;
  color: #777;
}

.block__footer
  .container
  .aside__copyright
  .block__footer--left
  .fa.fa-copyright {
  font-style: normal;
  margin-left: 2px;
}

body .fa.fa-location-arrow:before {
  content: "\f160";
}

body .fa.fa-copyright:before {
  content: "\f173";
}

body .fa.fa-mobile:before {
  content: "\f159";
}

body .fa.fa-envelope-o:before {
  content: "\f132";
}
